<html>
  <body>
     <div class="center jumbotron">
         <h1><b>SCIENCE</b></h1>
     </div>
     <div>
     <h2><p>This is the science home page.  Below are links to pages with information about
     some of the exciting fields of scientific studies.  </p></h2>
       <ul>
           <li><%= link_to "General Physics", generalphysics_path %></li>
           <li><%= link_to "Astronomy", astronomy_path %></li>
           <li><%= link_to "Electromagnetism" , electromagnetism_path %></li>
           <li><%= link_to "Mechanics, Dynamics, Largangian, Hamiltionain", mechanicsdynamicslagrangianhamiltonian_path %></li>
           <li><%= link_to "Quantum Mechanics", quantummechanics_path %></li>
           <li><%= link_to "Thermodynamics and Statistical Mechanics", thermodynamicsstatisticalmechanics_path %></li>
           <li><%= link_to "Nuclear and Particle Physics", nuclearparticlephysics_path %></li>
           <li><%= link_to "Astrophysics", astrophysics_path %></li>
           <li><%= link_to "Relativity", relativity_path %></li>
           <li><%= link_to "Fluid Dynamics", fluiddynamics_path %></li>
       </ul>
       </div>
  </body>    
</html>