<html>
  <body>
     <div class="center jumbotron">
         <h1><b>MATH</b></h1>
     </div>
     <div>
     <h2><p>This is the mathematics home page.  Below are links to pages with information about
     some of the exciting fields of mathematics.  </p></h2>
       <ul>
           <li><%= link_to "Algebra", algebra_path %></li>
           <li><%= link_to "Geometry", geometry_path %></li>
           <li><%= link_to "Trigonometry", trigonometry_path %></li>
           <li><%= link_to "Calculus", calculus_path %></li>
           <li><%= link_to "Differential Equations", differentialequations_path %></li>
           <li><%= link_to "Matrix Methods and Linear Algebra", matrixmethodslinearalgebra_path %></li>
           <li><%= link_to "Numerical Analysis", numericalanalysis_path %></li>
           <li><%= link_to "Complex Variables", complexvariables_path %></li>
           <li><%= link_to "Fourier Analysis", fourieranalysis_path %></li>
       </ul>
       </div>
  </body>    
</html>